html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 90%;
  font: caption;
}

p {
  margin: 1em 2em;
}


#API{
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
}
#map { 
  align-self: center;
  height: 75vh;
  width: 96vw;
  }